{%extends "master.html"%}

{%block content%}
<div class="container">    
    <div class="row">
        {%for prd in prds%}
      <div class="col-sm-4"> 
        <div class="card">
          <a href="/myapp/ViewDetails/{{prd.id}}" style="text-decoration: none;"><img src="{{prd.imageurl.url}}" alt="Denim Jeans" style="width:100%;height: 200px;"></a>
          <h2>{{prd.pname}}</h2>
          <p class="price"><b>₹{{prd.price}}</b></p>
          <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <p><a href="/myapp/ViewDetails/{{prd.id}}" class="view">View Details</a></p>
        </div>
      </div>
      {%endfor%}
    </div>
  </div><br>
{%endblock%}

